
.save-filter-btn {
  position: absolute;
  right: 0;
}

.buttons {
  width: fit-content;
  margin-left: 52px;
  margin-top: 37px;
}

.reset-button-wrapper {
  text-align: center;
}

.functionality-button-wrapper {
  display: flex;
  align-items: center;
}